{% extends 'applipizza/base.html' %}

{% block title %}
modification d'une pizza
{% endblock %}

{% block main %}
<h2>modification d'une pizza</h2>

<form enctype="multipart/form-data" action="/pizzas/{{pizza.idPizza}}/updated/" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_nomPizza" class="form-label">Le nom de cette pizza </label>
        <input type="text" name="nomPizza" class="form-control" maxlength="50" 
            required id="id_nomPizza" value="{{pizza.nomPizza}}">
    </div>
    <div class="mb-3">
        <label for="id_prix" class="form-label">Le prix de cette pizza </label>
        <input type="number" name="prix" min="0" step="0.01" class="form-control" 
            required id="id_prix" value="{{pizza.prix}}">
    </div>
    <div class="mb-3"> 
        <div class="divImgPizza">
            <img class="imagePizza" src="{{MEDIA_URL}}{{pizza.image}}" alt="image de pizza" title="{{pizza.nomPizza}}">
        </div>
        <div class="divNomPizza"><i>fichier actuel: {{pizza.image}}</i></div>
        Nouveau fichier image
        <input class="form-control" name="image" type="file" accept="image/*" id="id_image">
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
{% endblock %}
