{% extends 'applipizza/base.html' %}

{% block title %}
modification d'un ingédient
{% endblock %}

{% block main %}
<h2>modification d'un ingrédient</h2>

<form action="/ingredients/{{ingredient.idIngredient}}/updated/" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_nomIngredient" class="form-label">Le nom de cet ingredient </label>
        <input type="text" name="nomIngredient" class="form-control" maxlength="50" 
            required id="id_nomIngredient" value="{{ingredient.nomIngredient}}">
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
{% endblock %}
