{% load static %}
<!DOCTYPE html> 
<html lang="fr">
    <head>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <img src="{% static 'applipizza/img/iconeApplipizza.png' %}"width=2% height=10%>  
                <a class="navbar-brand" href="#">
                     Appli Pizza 2023
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" 
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"> <a class="nav-link" href="/pizzas/">les pizzas</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/ingredients/">les ingrédients</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/ingredients/add/">creer un nouvel ingredient</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/pizzas/add/">creer une nouvelle pizza</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>